<div id="breadcrumbs">
{% assign crumbs = page.url | remove: '/index.html' | split: '/' %}
{% if crumbs.size > 2 %}
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      {{ page.title }}
    {% else %}
      {% assign url = "" %}
      {% assign crumb_limit = forloop.index | plus: 1 %}
      {% for crumb in crumbs limit: crumb_limit %}
        {% assign url = url | append: crumb | append: '/' %}
      {% endfor %}
      {% assign name = crumb | replace:'-',' ' | remove:'.html' %}
      <a href="{{url}}">{{name}}</a> /
    {% endif %}
  {% endfor %}
{% endif %}
</div>
